# Project files
node_modules/
*.log
package-lock.json
.DS_Store
Thumbs.db
.vscode/
server/
villa-moche/

# Data storage
data.json

# XAMPP default files
applications.html
bitnami.css
favicon.ico
install.php
img/
dashboard/
xampp/
webalizer/
